body {
    background: #000;
    color: #0f0;
    font-family: monospace;
    text-align: center;
}

.container {
    margin-top: 5%;
}

a {
    color: #0f0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px 0;
}